@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  @apply bg-pitch-black text-platinum-mist min-h-screen antialiased;
}
.text-gradient-gold {
  background: radial-gradient(circle at 30% 30%, #F6C352, #B48811 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
